<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0</key>
	<string>First release</string>
	<key>1.8</key>
    <string> 1.教练车车牌号“学”字可通过比对。
2.将省外车辆和临牌车辆纳入“快处”适用范围。 </string>
</dict>
</plist>
